{
  "database": {
    "username": "",
    "password": "",
    "host": "",
    "port": 3306,
    "name": ""
  },

  "jwt": {
    "secret_key": "",
    "login_expiration_duration": 15
  }

  "midtrans": {
    "merchant_id": "",
    "client_key": "",
    "server_key": ""
  }
}